.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	margin: 2rem 0;
	padding: 0;
	&__item {
		margin: 10px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		img {
			height: 120px;
			width: 100%;
		}
	}
}
@media(max-width: 768px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.grid__item img {
		height: 180px;
	}
}
@media(max-width: 640px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.grid__item img {
		height: 100%;
		width: 100%;
	}
}
